{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr><th scope="col">Name</th><th scope="col">Alignment</th><th scope="col">Height</th><th scope="col">Weight</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.alignment }}</td>
                <td>{{ object.height }}</td>
                <td>{{ object.weight }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}